* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: sans-serif;
}

img {
    vertical-align: middle;
    width: 50px;
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.none {
    display: none;
}

header {
    height: 100px;
}

header > .inner {
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

header > .inner > nav > button {
    width: 4rem;
    height: 1.5rem;
}

#main > .inner > h1 {
    text-align: center;
    margin-bottom: 20px;
}

#main > .inner > .container > .columnName {
    align-items: center;
    height: 100px;
    background: #ffA500;
}

#main > .inner > .container > .post {
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

#main > .inner > .container > div > div {
    width: calc(100% / 8);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main > .inner > .container > div > div > img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

#main > .inner > .container > div > div > button {
    cursor: pointer;
}

#register > .inner > h1 {
    text-align: center;
    margin-bottom: 20px;
}

#register > .inner > form {
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 0 auto;
}

#register > .inner > form > div > input,
#register > .inner > form > button {
    width: 300px;
    padding: .25rem 0;
}

#login > .inner > h1 {
    text-align: center;
    margin-bottom: 20px;
}

#login > .inner > form {
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 0 auto;
}

#login > .inner > form > div > input,
#login > .inner > form > button {
    width: 300px;
    padding: .25rem 0;
}

#profile > .inner > h1 {
    text-align: center;
}

#profile > .inner > .profileWrap {
    align-items: flex-end;
}

#profile > .inner > .profileWrap > .userImage {
    width: 300px;
    border: 1px solid #333;
}

#profile > .inner > .profileWrap > .userImage > img {
    width: 100%;
    object-fit: cover;
}

#profile > .inner > .profileWrap > .info {
    margin-left: 20px;
}

#profile > .inner > .profileWrap > .info > div {
    margin-top: 20px;
}

#profile > .inner > section > .tabs > div {
    width: calc(100% / 2);
    padding: 20px 0;
    margin-top: 20px;
    font-size: 1.25rem;
    text-align: center;
    cursor: pointer;
    color: #888;
    user-select: none;
}

#profile > .inner > section > .tabs > .selected {
    color: #333;
    background: #ffA500;
}

#profile > .inner > section > article > .columnName {
    align-items: center;
    height: 100px;
    background: #ffA500;
}

#profile > .inner > section > article > .columnName > div {
    width: calc(100% / 8);
    text-align: center;
}

#profile > .inner > section > article > .post {
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}

#profile > .inner > section > article > .post > div {
    width: calc(100% / 8);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#profile > .inner > section > article > .post > div > img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

#createPost > .inner > h1 {
    text-align: center;
    margin-bottom: 20px;
}

#createPost > .inner > form {
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 0 auto;
}

#createPost > .inner > form > div > input {
    width: 300px;
}

#createPost > .inner > form > div > textarea {
    width: 300px;
    height: 120px;
}

#detailPost > .inner > div {
    text-align: center;
    margin-bottom: 30px;
}

#detailPost > .inner > .title {
    font-size: 1.5rem;
}

#detailPost > .inner > .image > img {
    width: 300px;
    object-fit: cover;
}

#detailPost > .inner > .buttons > button {
    width: 5rem;
    height: 1.5rem;
}

#detailPost > .inner > .cmt {
    font-size: 1.5rem;
}

#detailPost > .inner > form {
    text-align: center;
}

#detailPost > .inner > form > input {
    width: 300px;
}

#detailPost > .inner > form > .comments > .comment {
    width: 300px;
    margin: 0 auto;
    text-align: start;
}

#detailPost > .inner > form > .comments > .comment > div:not(.nestedC) {
    font-size: 1.25rem;
    font-weight: bold;
}

#detailPost > .inner > form > .comments > .comment > .nestedC {
    margin-left: 20px;
}

#postStatistics > .inner > div {
    text-align: center;
    margin-bottom: 20px;
}

#userStatistics > .inner > h2 {
    text-align: center;
    margin-bottom: 30px;
}

#userStatistics > .inner > .container > .columnName {
    align-items: center;
    height: 100px;
    background: #ffA500;
}

#userStatistics > .inner > .container > .columnName > div {
    width: calc(100% / 6);
    text-align: center;
}

#userStatistics > .inner > .container > .item {
    align-items: center;
    height: 100px;
}

#userStatistics > .inner > .container > .item > div {
    width: calc(100% / 6);
    text-align: center;
}

#userStatistics > .inner > .container > .item > div > img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

footer {
    height: 100px;
    justify-content: center;
    align-items: center;
}